<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stripe Connect Demo Site</title>
  </head>
  <body>
    <div>
        <h2>Live Stripe Secret Token</h2>
        <p>{{ token.access_token }}</p>
    </div>
    <div>
        <h2>Live Stripe Refresh Token</h2>
        <p>{{ token.refresh_token }}</p>
    </div>
    <div>
        <h2>Live Stripe Publishable Key</h2>
        <p>{{ token.stripe_publishable_key }}</p>
    </div>
    <div>
        <h2>Live Stripe User ID</h2>
        <p>{{ token.stripe_user_id }}</p>
    </div>
    <div>
        <h2>Test Stripe Secret Token</h2>
        <p>{{ test_token.access_token }}</p>
    </div>
    <div>
        <h2>Test Stripe Publishable Key</h2>
        <p>{{ test_token.stripe_publishable_key }}</p>
    </div>
  </body>
</html>